*{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    font-family: 'Roboto', sans-serif;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    color: #F3F3F3;
    font-size: 10px;
    height: 20px;
}

.descuentos {
    margin-left: 90px;
}

.seccion-idioma{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0A83E;
    color:#F3F3F3 ;
    height: 62px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}

.logo {
    margin-left: 40px;
}
h1 {
    font-size: 20px;
}

nav li {
    font-size: 13px;
}

li{
    list-style:none;
    margin: 0px 24px;
}

h1 span {
    color: #3C2313;
}

.heroe {
    display: flex;
    background: url('../img/banner.png') no-repeat; 
    background-size: contain;
    height: 85vh;
    width: 100%;
}

.container-heroe {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}


.bienvenida {
    font-size: 30px;
    background-color: #F3F3F3;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin-right: 20px;
}

.desc {
    font-size: 20px;
    margin: 20px 5%;
}

.button {
    background-color: #F0A83E;
    color: #FFFFFF;
    width: fit-content;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin: 0 7%; 
}

.container-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.patita {
    width: 65px;
    height: 70px;
}

.nav-productos {
    display: flex;
    margin: 25px;
}

section h2 {
    color: #3C2313;
    font-size: 40px;
    font-weight: 700;
}

section li {
    color: #666666;
    font-size: 15px;
    font-weight: 400;
}

.container-cards {
    display: flex;
    justify-content: space-evenly;
}

.card {
    margin: 5% 0;
}


.producto {
    color: #3C2313;
    font-size: 15px;
    margin-left: 25%;
}

.precio {
    color: #F0A83E;
    font-size: 15px;
    margin-left: 50%;
}

.footer__top {
    background-color: #3C2313;
    font-weight: 700;
    color: #FFFFFF;
}

.footer__bottom {
    background-color: #222222;
    color: #FFFFFF;
    font-weight: 700;
}

footer h2 {
    font-size: 20px;
}

footer p {
    font-size: 10px;

}

.logo { 
    font-size: 20px;
    
}

.logo--color {
    color: #F0A83E;
}